In [1]:
from IPython.core.display import HTML

In [2]:
from IPython.display import HTML
import pandas as pd
import numpy as np

In [3]:
#HTML(filename="E:\Data Analysis\Project Lottery\D_lotfac.htm")

In [4]:
#df = pd.read_html('file:///C:/Users/Yuan/Desktop/d_lotfac.htm', delimiter='\t')

In [10]:
df = pd.read_html('file:///C:/Users/Yuan/Desktop/d_lotfac.htm')

In [12]:
type(df)

list

In [16]:
df_array = np.array(df)

In [17]:
df_array

array([[[1, '29/09/2003', 18, ..., '000', '000', '000'],
        [1, '29/09/2003', 18, ..., '000', '000', '000'],
        [1, '29/09/2003', 18, ..., '000', '000', '000'],
        ...,
        [2035, '18/09/2020', 24, ..., '000', '1.200.00000',
         '1.615.56467'],
        [2035, '18/09/2020', 24, ..., '000', '1.200.00000',
         '1.615.56467'],
        [2036, '19/09/2020', 22, ..., '000', '1.500.00000',
         '1.911.82379']]], dtype=object)

In [19]:
df_array.shape

(1, 8327, 33)

In [30]:
from IPython.display import Image
from IPython.core.display import HTML

Image(url= "https://www.w3resource.com/w3r_images/numpy-1d2d3d-array.png", width=800, height=800)

In [21]:
df_reshape = df_array.reshape(8327,33)

In [22]:
df_reshape

array([[1, '29/09/2003', 18, ..., '000', '000', '000'],
       [1, '29/09/2003', 18, ..., '000', '000', '000'],
       [1, '29/09/2003', 18, ..., '000', '000', '000'],
       ...,
       [2035, '18/09/2020', 24, ..., '000', '1.200.00000', '1.615.56467'],
       [2035, '18/09/2020', 24, ..., '000', '1.200.00000', '1.615.56467'],
       [2036, '19/09/2020', 22, ..., '000', '1.500.00000', '1.911.82379']],
      dtype=object)

In [23]:
df_reshape.shape

(8327, 33)

In [25]:
dat = pd.DataFrame(df_reshape, columns = ["Var 1", "Var 2", "Var 3", "Var 4", "Var 5", "Var 6","Var 7", "Var 8", "Var 9", "Var 10", "Var 11", "Var 12","Var 13", "Var 14", "Var 15", "Var 16", "Var 17", "Var 18","Var 19", "Var 20", "Var 21", "Var 22", "Var 23", "Var 24","Var 25", "Var 26", "Var 27", "Var 28", "Var 29", "Var 30","Var 31","Var 32","Var 33"])

In [26]:
dat

,Var 1,Var 2,Var 3,Var 4,Var 5,Var 6,Var 7,Var 8,Var 9,Var 10,...,Var 24,Var 25,Var 26,Var 27,Var 28,Var 29,Var 30,Var 31,Var 32,Var 33
0,1,29/09/2003,18,20,25,23,10,11,24,14,...,48807,257593,49.76582,68984,1000,400,200,000,000,000
1,1,29/09/2003,18,20,25,23,10,11,24,14,...,48807,257593,49.76582,68984,1000,400,200,000,000,000
2,1,29/09/2003,18,20,25,23,10,11,24,14,...,48807,257593,49.76582,68984,1000,400,200,000,000,000
3,1,29/09/2003,18,20,25,23,10,11,24,14,...,48807,257593,49.76582,68984,1000,400,200,000,000,000
4,1,29/09/2003,18,20,25,23,10,11,24,14,...,48807,257593,49.76582,68984,1000,400,200,000,000,000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8322,2035,18/09/2020,24,13,19,25,23,18,8,16,...,162825,785271,292.85145,1.55532,2500,1000,500,000,1.200.00000,1.615.56467
8323,2035,18/09/2020,24,13,19,25,23,18,8,16,...,162825,785271,292.85145,1.55532,2500,1000,500,000,1.200.00000,1.615.56467
8324,2035,18/09/2020,24,13,19,25,23,18,8,16,...,162825,785271,292.85145,1.55532,2500,1000,500,000,1.200.00000,1.615.56467
8325,2035,18/09/2020,24,13,19,25,23,18,8,16,...,162825,785271,292.85145,1.55532,2500,1000,500,000,1.200.00000,1.615.56467
8326,2036,19/09/2020,22,7,19,25,11,8,17,5,...,89139,490671,612.26882,1.30532,2500,1000,500,000,1.500.00000,1.911.82379

In [33]:
dat.head(end)

NameError: name 'end' is not defined

In [34]:
dat.to_csv(r'lotofacil_excel.csv', index = False)

In [ ]:
# \n = vivo
#   abs   book

# \t = vivo book