In [1]:
import pandas as pd
import numpy as np

In [ ]:
type()

In [ ]:
.isnull()

In [13]:
######################################################################################################
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [15]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [16]:
df.iloc[[0, 1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [17]:
df.iloc[:,-1]

0       4
1     400
2    4000
Name: d, dtype: int64

In [ ]:
######################################################################################################

In [7]:
x = 5

In [9]:
x = np.arange(len(carro))  # the label locations

NameError: name 'carro' is not defined

In [10]:
X_0 = np.arange(3)

In [11]:
X_0

array([0, 1, 2])

In [ ]:
x.ndim

In [ ]:
x.shape

In [ ]:
x.reshape

In [7]:
type(34)

int

In [8]:
mylist = [1,2,3]

mylist.append(4)
# + 4

In [9]:
mylist

[1, 2, 3, 4]

In [13]:
a = {'a:2,3,4,5,6,10,11,12,13,15,16,17,19,21,22'}

In [14]:
a

{'a:2,3,4,5,6,10,11,12,13,15,16,17,19,21,22'}

In [15]:
b = np.array(a)

In [16]:
b

array({'a:2,3,4,5,6,10,11,12,13,15,16,17,19,21,22'}, dtype=object)

In [17]:
a = np.array([0, 1, 2, 3])

In [18]:
a

array([0, 1, 2, 3])

In [19]:
c = pd.DataFrame(a)

In [20]:
c

   0
0  0
1  1
2  2
3  3

In [21]:
d = np.array([['primeiro': 0, 1, 2], [3, 4, 5]])

SyntaxError: invalid syntax (<ipython-input-21-4dcb5667d237>, line 1)

In [22]:
e = pd.DataFrame(d)

NameError: name 'd' is not defined

In [23]:
e

NameError: name 'e' is not defined

In [24]:
a = {'Colorado':10, 'Boston':20}

In [25]:
a

{'Colorado': 10, 'Boston': 20}

In [26]:
qw = pd.DataFrame(a)

ValueError: If using all scalar values, you must pass an index

In [27]:
df = pd.DataFrame({'A': [1,2,3], 'B': [2,3,4]})

In [28]:
df

   A  B
0  1  2
1  2  3
2  3  4

In [29]:
df1 = pd.DataFrame({1: [1,2,3], 'B': [2,3,4]})

In [30]:
df1

   1  B
0  1  2
1  2  3
2  3  4

In [31]:
df1 = pd.DataFrame({1: [1,2,3], 'B': [2,3,4]}, index=[0])

df = pd.DataFrame({'A': 1, 'B': 2}, index=[0])

ValueError: Shape of passed values is (3, 2), indices imply (1, 2)

In [32]:
df = pd.DataFrame({'A':[12,23],'B':[2,7]}, index=[0,4])

In [33]:
df

    A  B
0  12  2
4  23  7

In [34]:
pd.Series({'A':5,'B':4})

A    5
B    4
dtype: int64

In [35]:
df

    A  B
0  12  2
4  23  7