In [1]:
hungry = False

if hungry:
    print('Feed me')
else:
    print('i am not hugry')

i am not hugry

In [9]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [10]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x += 1 # x = x + 1
else:
    print('you`re wrong')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
you`re wrong

In [11]:
x = [1,2,3]

for item in x:
    pass 
print('end')

end

In [12]:
mystring = 'sammy'

In [13]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [14]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [15]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [17]:
mylist = [1,2,3]

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
index_count = 0
for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [8]:
index_count = 0
for letter in 'abcde':
    print(f'at index {index_count} the letter is {letter}'.format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'
for letter in 'abcde':
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [22]:
index_count = 0
word = 'abcde'

for letter in word :
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [23]:
index_count = 0
word = 'abcde'

for letter in 'word':
    print(word[index_count])
    index_count += 1

a
b
c
d

In [24]:

word = 'abcde'

for item in enumerate(word):
    print(item)
#tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [28]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [32]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)
#you use this 'zip' when you want tuples.

(1, 'a')
(2, 'b')
(3, 'c')

In [30]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [31]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [33]:
'x' in [1,2,3]

False

In [34]:
2 in [1,2,3]

True

In [35]:
'mykey' in {'mykey': 345}

True

In [36]:
d = {'mykey':345}

345 in d.keys()

False

In [38]:
d = {'mykey':345}

345 in d.values()

True

In [41]:
mylist = [1,2,3,4,5,6,7,8,9]

min(mylist)

1

In [42]:
max(mylist)

9

In [43]:
from random import shuffle

In [44]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [45]:
shuffle(mylist)

In [46]:
mylist

[9, 4, 3, 5, 10, 8, 2, 6, 7, 1]

In [48]:
random_list = shuffle(mylist)

In [49]:
type(random_list)

NoneType

In [50]:
from random import randint

In [51]:
randint(0,100)

5

In [52]:
mynum = randint(0,10)

In [53]:
mynum

7

In [54]:
result = input('enter a number here:')

enter a number here:50

'50'

In [ ]:
type(result)

In [ ]:
float(result)

In [ ]:
int(result)

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
you`re wrong

In [18]:
mystring = 'hello'

In [19]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [21]:
mylist

['h', 'e', 'l', 'l', 'o']

In [22]:
mylist = [letter for letter in mystring]

In [23]:
mylist

['h', 'e', 'l', 'l', 'o']

In [24]:
mylist = [x for x in 'world']

In [25]:
mylist

['w', 'o', 'r', 'l', 'd']

In [26]:
mylist = [num for num in range(0,11)]

In [27]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
mylist = [num**2 for num in range(0,11)]

In [29]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
mylist = [x for x in range(0,11) if x%2==0]

In [31]:
mylist

[0, 2, 4, 6, 8, 10]

In [32]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [33]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [34]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [35]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [36]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [37]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [38]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [39]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [40]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [41]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]