In [1]:
#overview

#print('testing')

#  Python Reserved Words
# (and, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, 
# import, in , is, lambda, not, or, pass, print, raise, return, try, while, with, yield)

#Tutorial point basic syntax

# Standard Data Types

In [13]:
a = 100 #integer
b = 1000.0 #float
c = 'name' #string

In [18]:
#Multiple Assignment

d = e = f = 1
g,h,i = 2,3,'someone'

# Standard Data TYpes

#Numbers
#String
#List
#Tuple
#Dictionary

In [28]:
var1 = 1
var2 = 2
var3 = 3

In [30]:
x = var1 + var2 + var3

In [34]:
del var1

NameError: name 'var1' is not defined

# Python Strings

In [36]:
str = 'Hello World!'

In [39]:
print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

# Python Lists (mutable)

In [40]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

In [41]:
print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# Python Tuples (immutable)

In [42]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

In [47]:
print (tuple)           # Prints complete list
print (tuple[0])        # Prints first element of the list
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints list two times
print (tuple + tinytuple) # Prints concatenated list

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [28]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = ('engl', 'math', 1, 2)

In [25]:
print('tup1')
print(tup1)

tup1
('physics', 'chemistry', 1997, 2000)

In [26]:
print(tup1[0:])

('physics', 'chemistry', 1997, 2000)

In [27]:
print(tup1[0:1])

('physics',)

In [30]:
tup3 = tup1 + tup2

In [32]:
print(tup3)

('physics', 'chemistry', 1997, 2000, 'engl', 'math', 1, 2)

In [36]:
del tup3('physics')

TypeError: 'tuple' object doesn't support item deletion

# Python Dictionary

In [48]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

In [49]:
print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [3]:
dict = {'name':'zhang,yuan,', 'age':'29','nationality':'chinese'}
dict['name']

'zhang,yuan,'

In [4]:
del dict['age']

In [5]:
dict

{'name': 'zhang,yuan,', 'nationality': 'chinese'}

In [6]:
dict.clear()

In [7]:
dict

{}

# Python - Date & Time

In [8]:
import time

In [12]:
ticks = time.time()
print ("number of ticks since 12:00am, January 1, 1970:"), ticks

number of ticks since 12:00am, January 1, 1970:

(None, 1591221748.1716747)

In [13]:
localtime = time.localtime(time.time())
print('local current time:'), localtime

local current time:

(None,
 time.struct_time(tm_year=2020, tm_mon=6, tm_mday=3, tm_hour=19, tm_min=3, tm_sec=43, tm_wday=2, tm_yday=155, tm_isdst=0))

In [19]:
import calendar
cal = calendar.month(2008,1)
print("Here is the calendar")
print(cal)

Here is the calendar
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

# Loops

In [38]:
while True:
    progress = do_something()
    if progress is done:
        break

NameError: name 'do_something' is not defined

In [ ]:
conta = 0
while:
    conta <= 10
    conta += 1
    print(conta)

In [ ]:
print ('python game')
loose = ('you lost this game and trying again')
win = ('you are the winner')
lives = 1
score = 0
drew = 0
computer_lives = 3

while True:
    print('to begin')
    username=input('name')
    password=input('password')

In [ ]:
#overview

#print('testing')

#  Python Reserved Words
# (and, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, 
# import, in , is, lambda, not, or, pass, print, raise, return, try, while, with, yield)

#Tutorial point basic syntax


counter = 100
print('counter')